src/test/resources/search-lookup-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:ldap="http://www.mulesoft.org/schema/mule/ldap"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ldap http://www.mulesoft.org/schema/mule/ldap/current/mule-ldap.xsd">

	<spring:beans>
		<spring:import resource="ldap-config.xml" />
	</spring:beans>

    <flow name="testAnonymousFlow">
    	<ldap:lookup config-ref="anonymousConf" dn="#[payload:]"/>
    	<ldap:lookup config-ref="anonymousConf" dn="#[groovy:payload.getDn()]">
    		<ldap:attributes>
    			<ldap:attribute>uid</ldap:attribute>
    			<ldap:attribute>cn</ldap:attribute>
    		</ldap:attributes>
    	</ldap:lookup>
	</flow>

    <flow name="testAdminFlow">
    	<ldap:search-one config-ref="adminConf" baseDn="dc=mulesoft,dc=org" filter="#[payload:]" scope="SUB_TREE"/>
    	<ldap:search config-ref="adminConf" baseDn="#[groovy:payload.getDn()]" filter="(uid=user*)" scope="SUB_TREE">
    		<ldap:attributes>
    			<ldap:attribute>uid</ldap:attribute>
    			<ldap:attribute>cn</ldap:attribute>
    		</ldap:attributes>
    	</ldap:search>
	</flow>

    <flow name="testSearchMaxResultsFlow">
    	<ldap:search config-ref="adminConf" baseDn="dc=mulesoft,dc=org" filter="(uid=user*)" maxResults="#[payload:]"  scope="SUB_TREE" />
	</flow>

    <flow name="testSearchFlow">
    	<ldap:search config-ref="adminConf" baseDn="dc=mulesoft,dc=org" filter="#[payload:]"  scope="SUB_TREE" />
	</flow>

    <flow name="testPaginatedSearchFlow">
    	<ldap:search config-ref="adminConf" baseDn="dc=mulesoft,dc=org" filter="#[payload:]"  scope="SUB_TREE" pageSize="3" />
	</flow>
	
    <flow name="testPagedResultSearchFlow">
    	<ldap:paged-result-search config-ref="adminConf" baseDn="ou=people,dc=mulesoft,dc=org" filter="#[payload:]" scope="SUB_TREE" />
    	<logger message="#[payload:]" level="ERROR"/>
	</flow>
	
	<!--     
    <flow name="lookup">
	    <ldap:lookup dn="#[header:dn]">
	        <ldap:attributes ref="#[header:attributes]" />
	    </ldap:lookup>
    </flow>

    <flow name="search">
	    <ldap:search baseDn="#[header:baseDn]"
	                 filter="#[header:filter]"
	                 scope="#[header:scope]"
	                 timeout="#[header:timeout]"
	                 maxResults="#[header:maxResults]"
	                 returnObject="#[returnObject]">
	        <ldap:attributes ref="#[header:attributes]" />
	    </ldap:search>
    </flow>

    <flow name="search-one">
	    <ldap:search-one baseDn="#[header:baseDn]"
	                 filter="#[header:filter]"
	                 scope="#[header:scope]"
	                 timeout="#[header:timeout]"
	                 maxResults="#[header:maxResults]"
	                 returnObject="#[returnObject]">
	        <ldap:attributes ref="#[header:attributes]" />
	    </ldap:search-one>
    </flow>

    <flow name="ldap-entry-to-map">
        <ldap:ldap-entry-to-map/>
    </flow>

    <flow name="ldap-entry-to-ldif">
        <ldap:ldap-entry-to-ldif/>
    </flow>
     -->
</mule>
